.banner-panel {
  background-color: lightgrey;
}

.col-sm-12 {
/*  border: 2px dotted pink;
*/  height: 450px;
  width: 95%;
}

.col-sm-2 {
  text-align: center;
  /*min-height: 1px;*/
}

.large-text {
  font-size: 4em;
  padding: 1em;
}

.container-fluid {
  text-align: center;
  padding: 1em;
}

.crime-categories {
  background-color: lightblue;
  width: 500px;
}