<div class="btn-group" id="dropdown-type" style="display:none">
  <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Search by Type<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">All</a></li>
    <li class="divider"></li>
    <li><a href="#">Administrative Unit Only</a></li>
    <li><a href="#">New Institution</a></li>
    <li><a href="#">Private for-profit, 2-year</a></li>
    <li><a href="#">Private for-profit, 4-year or above</a></li>
    <li><a href="#">Private for-profit, less-than 2-year</a></li>
    <li><a href="#">Private nonprofit, 2-year</a></li>
    <li><a href="#">Private nonprofit, 4-year or above</a></li>
    <li><a href="#">Private nonprofit, less-than 2-year</a></li>
    <li><a href="#">Public, 4-year or above</a></li>
    <li><a href="#">Public, 2-year</a></li>
    <li><a href="#">Public, less-than 2-year</a></li>
  </ul>
</div>


