<div class="container-fluid">
  <div class="row">
    <nav id="mainMenu" class="navbar navbar-default">
      <ul>
        <li id="logo"><a href="#">Sugar first</a></li>
        <li class="active"><a href="#">Home</a></li>
        <li class="flyout"><a href="#">Categories</a>
          <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 1</a></li>
          </ul>
        </li>
        <form id="searchForm">
          <input type="text" placeholder="Search" id="query" />
          <button type="submit" value="Submit query"><i class="fa fa-search"></i></button>
        </form>
    </nav>
  </div>
</div>

<script>
$("#searchForm").find("#query").focus(
  function(){
    $(this).width("250px");
    $(this).parent("form").addClass("active");
  }
);
$("#searchForm").find("#query").blur(
  function(){
    $(this).width("150px");
    $(this).parent("form").removeClass("active");
  }
);

$(".flyout").click(function(event){
  event.preventDefault();
  $(this).toggleClass("active");
  $(this).find("ul").slideToggle(300);
})

</script>