<div id="chart">

</div>


<script>
var chart = c3.generate({
    data: {
        // xs: {
        //     setosa: 'setosa_x',
        //     versicolor: 'versicolor_x',
        // },
        // iris data from R
        columns: [
            ["Sexual Assault - Forcible", <%= @forcible_sex2011.join(",")%>],
            ["Murder", <%= @murder2011.join(",")%>],
            ["Manslaughter", <%= @manslaughter2011.join(",")%>],
            ["Sexual Assault - Nonforcible", <%= @nonforcible_sex2011.join(",")%>],
        ],
        type: 'scatter'
    },
    axis: {
        x: {
            label: 'Sepal.Width',
            tick: {
                fit: false
            }
        },
        y: {
            label: 'Petal.Width'
        }
    }
});


</script>