<div class="container-fluid">
  <div class="row">
    <div class="banner">
      <h1>about the project</h1>
    </div>
  </div>
  <div class="row large-header">
    <h1>friday, april 3, 2015</h1>
  </div>
</div>

<div class="main-container about-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 color-block">
        <i class="fa fa-users fa-2x"></i>
        <span class="title-header">team members</span>
        <p>afton</p>
        <p>jessie</p>
        <p>lukas</p>
        <p>yumiko</p>
        <p>nichole shelton <em>team lead</em></p>
      </div>
      <div class="col-md-6">
        <img src="https://scontent-2.2914.fna.fbcdn.net/hphotos-xta1/t31.0-8/11015207_10152880493023661_2978569646082734768_o.jpg" height="600px">

      </div>
    </div>
  </div>

  <hr width="80%">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 color-block tech">
        <i class="fa fa-cogs fa-spin fa-2x"></i>
        <span class="title-header">technology</span>
        <ul class="large-bullets">
          <li>yay</li>
          <li>yay</li>
          <li>yay</li>
          <li>yay</li>
          <li>yay</li>
        </ul>
      </div>
      <div class="col-md-6 tech-used-image">

      </div>
    </div>
  </div>
  <hr width="80%">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 color-block">
        <i class="fa fa-smile-o fa-2x"></i>
        <span class="title-header">successes</span>
      </div>
      <div class="col-md-6">
        <ul class="large-bullets">
          <li>yay</li>
          <li>yay</li>
          <li>yay</li>
          <li>yay</li>
          <li>yay</li>
        </ul>
      </div>
    </div>
    <hr width="80%">
    <div class="row">
      <div class="col-md-6 color-block">
          <i class="fa fa-wrench fa-2x"></i>
          <span class="title-header">hurtles</span>
 <!--          <i class="fa fa-meh-o "></i> -->
        </div>
      <div class="col-md-6">
        <ul class="large-bullets">
          <li>no</li>
          <li>no</li>
          <li>no</li>
          <li>no</li>
          <li>no</li>
        </ul>
      </div>
    </div>

  <hr width="80%">
  <div class="row">
    <div class="col-md-6 color-block">
      <i class="fa fa-rocket fa-2x"></i>
      <span class="title-header">stretch goals</span>
    </div>
    <div class="col-md-6">
      <ul class="large-bullets">
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
        </ul>
    </div>
  </div>
  <hr width="80%">

  <div class="row">
    <div class="col-md-6 color-block">
      <i class="fa fa-connectdevelop fa-2x"></i>
      <span class="title-header">group dynamics</span>

    </div>
    <div class="col-md-6">
      <ul class="large-bullets">
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
        </ul>
    </div>
  </div>
  <hr width="80%">
    <div class="row large-header">
      <h3>thanks for watching</h3>
      <h1> any questions?</h1>
    </div>
</div>
