<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <div class="row">
            <%= text_field_tag 'first-school', nil, class: "search-bar" %>
        </div>
    </div>
        <div class ="col-md-4"><button id="compare_btn">Compare</button></div>
    <div class="col-md-4">
        <div class="row">
            <%= text_field_tag 'second-school', nil, class: 'search-bar' %>
        </div>
    </div>

  </div>

  <div class="row table_eleven">
  </div>

  <div class="row table_twelf">
  </div>

  <div class="row table_thirteen">
  </div>
</div>
