 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p>UniversityWatch</p>
        </a>
      </div>
    </div>
  </nav>

  <div class="banner-panel row">
    <div class="col-sm-12">
      <p class="large-text">UniversityWatch blah blah blah blah</p>
      <p>blah blah blah blah blah</p>
      <div class="text row">
        <div class="col-xs-4 col-sm-2">
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">100+</span> <br>
            murders</p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">16,000</span><br>
            assaults</p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">9 </span><br>
            sexual assaults per day</p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">1 in 5 </span><br>
            women assaulted during college</p>
        </div>
        <div class="col-xs-4 col-sm-2">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <img src="https://s3.amazonaws.com/static.bitly.com/graphics/blog/2013/10/map+no+legend.png" width="800px">

  </div>