<div class="container-fluid">
  <div class="row">
      <div class="search_by_state">
        Search By State
      </div>
  </div>

  <div class="row">
    <div id="state_container" style="position: relative; width: 80%; height: 800px; margin: 0 auto"></div>
  </div>

  <div class="container">
      <div class="row">
        <div id="school_table">
        </div>
      </div>
  </div>

</div>




<script>
    $(document).ready(function(){
      console.log("here");
      var map = new Datamap({
        element: $('#state_container')[0],
        scope: 'usa'
      });
      $('.datamaps-subunit').on('click', getStateSchools);
    });
</script>
  </table>

