   <div id="state_container" style="position: relative; width: 100%; height: 400px;"></div>


  <table class="table" id="school_table">
    <tr>
      <th>School Name</th>
    </tr>

    <script id="table_generator" type="text/x-handlebars-template">
    {{#each state_info}}
    <tr>
    <td>{{name}}</td>
    </tr>
    {{/each}}
    </script>
<script>
    $(document).ready(function(){
      console.log("here");
      var map = new Datamap({
        element: $('#state_container')[0],
        scope: 'usa'
      });
      $('.datamaps-subunit').on('click', getStateSchools);
    });
</script>
  </table>

