
  <h1>Search By State</h1>

   <div id="state_container" style="position: relative; width: 100%; height: 800px;"></div>

<div id="school_table" class="table">  
</div>
<script>
    $(document).ready(function(){
      console.log("here");
      var map = new Datamap({
        element: $('#state_container')[0],
        scope: 'usa'
      });
      $('.datamaps-subunit').on('click', getStateSchools);
    });
</script>
  </table>

