<html>
<head>
  <title>State search</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="http://datamaps.github.io/scripts/datamaps.usa.min.js"></script>
  <div id="container" style="position: relative; width: 85%; height: 300px;"></div>
  <script>
      var map = new Datamap({
        element: document.getElementById('container'),
        scope: 'usa'
      });
  </script>
</head>
<body>
  <div id ="container">

  </div>
</body>
</html>
