<h3>Hello</h3>

<button class="show_heatmap">Pulling array from Server</button>

<button class="display_heatmap">Here you go!</button>

<div class="container">
  <div id="heatmap-canvas"></div>
</div>





