<h3>Hello</h3>

<button class="run_heatmap_data">Run Heatmap Data</button>

<button class="show_heatmap">Pulling array from Server</button>

<button class="display_heatmap">Here you go!</button>


<div id="heatmap-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
<div id="heatmap-canvas"></div>



