<div class="container-fluid">
  <div class="row">
    <div class="banner about-banner">
      <div class="sub-container">
        <h1>about the project</h1>
      </div>
      <%= image_tag("backgroundgraph.png", :alt => "background graph", :class => "aboutgraph") %>
    </div>
  </div>
  <div class="row large-header">
    <h1>friday, april 3, 2015</h1>
  </div>
</div>

<div class="main-container ">
  <div class="container-fluid about-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 team-members">
        <i class="fa fa-users fa-2x"></i>
          <span class="title-header">team members</span>
          <h3>Afton Hencky</h3>
          <h3>Jessie Wu</h3>
          <h3>Lukas Jones</h3>
          <h3>Yumiko Huang</h3>
          <h3>Nichole Shelton <em>team lead</em></h3>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 tech">
        <i class="fa fa-cogs fa-spin fa-2x"></i>
        <span class="title-header">technology</span>
        <div class="large-bullets">
          <p>yay</p>
          <p>yay</p>
          <p>yay</p>
          <p>yay</p>
          <p>yay</p>
        </div>
      </div>
      <div class="col-md-6 tech-used-image">
        <%= image_tag("technologiesused.png", :alt => "tech used image") %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ">
        <%= image_tag("successbkgd.png", :alt => "successes image", :class => "success-img") %>
      </div>
      <div class="col-md-6 success-section">
        <i class="fa fa-smile-o fa-2x"></i>
        <span class="title-header">successes</span>
        <div class="large-bullets">
          <p>yay</p>
          <p>yay</p>
          <p>yay</p>
          <p>yay</p>
          <p>yay</li>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 color-block">
          <i class="fa fa-wrench fa-2x"></i>
          <span class="title-header">hurtles</span>
        </div>
      <div class="col-md-6">
        <ul class="large-bullets">
          <li>no</li>
          <li>no</li>
          <li>no</li>
          <li>no</li>
          <li>no</li>
        </ul>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6 color-block">
      <i class="fa fa-rocket fa-2x"></i>
      <span class="title-header">stretch goals</span>
    </div>
    <div class="col-md-6">
      <ul class="large-bullets">
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
        </ul>
    </div>
  </div

  <div class="row">
    <div class="col-md-6 color-block">
      <i class="fa fa-connectdevelop fa-2x"></i>
      <span class="title-header">group dynamics</span>

    </div>
    <div class="col-md-6">
      <ul class="large-bullets">
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
          <li>cool</li>
        </ul>
    </div>
  </div
    <div class="row large-header">
      <h3>thanks for watching</h3>
      <h1> any questions?</h1>
    </div>
</div>
