<div class="container-fluid page-width">
  <div class="row">
      <div>
        <h1 class="page-header">Compare Schools</h1>
      </div>
  </div>

  <div class="row" id ="search-wrapper">
    <div class="col-md-4">
        <div class="row">
            <%= text_field_tag 'first-school', nil, placeholder: "Search for School 1", class: "search-bar form-control" %>
        </div>
    </div>
        <div class ="col-md-4" id="compare-btn-wrapper"><button id="compare_btn" class="btn btn-default">Compare</button></div>
    <div class="col-md-4">
        <div class="row">
            <%= text_field_tag 'second-school', nil, placeholder: "Search for School 2",class: 'search-bar form-control' %>
        </div>
    </div>

  </div>
  <div class="annual-data-section">
    <div class="row student-pop">
      <div class="school1-name col-md-6"></div>
      <div class="school2-name col-md-6"></div>
    </div>
    <h2 class ="data-year-caption">2011 School Data</h2>
    <div class="row table_eleven">
    </div>

    <h2 class ="data-year-caption">2012 School Data</h2>
    <div class="row table_twelf">
    </div>

    <h2 class ="data-year-caption">2013 School Data</h2>
    <div class="row table_thirteen">
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.data-year-caption').hide();
</script>
