
<div class="container-fluid page-width">
  <div class="row">
    <div class="data-banner">
      <h1>About the Data</h1>
      <div class="background">
            <div class= "info-container">
            <p>
                Data for this project is provided by the Department of Education’s Office of Postsecondary Education (OPE). All data can be found and downloaded on the OPE Campus Safety and Security Statistics website database at <a href="http://ope.ed.gov/security/">http://ope.ed.gov/security/.</a>  The data set we used represents on-campus crimes reported at post-secondary institutions in the U.S between 2011 and 2013. These crime statistics represent alleged criminal offenses reported to campus security authorities and/or local law enforcement agencies and do not represent criminal convictions.
            </p>
            <p>
                According to the terms of the Jeanne Clery Disclosure of Campus Security Policy and Campus Crime Statistics Act and the Higher Education Opportunity Act, all postsecondary institutions that participate in federal student aid programs are required to submit crime and fire statistics annually.  Therefore, crime statistics are included from colleges and universities as well as from many vocational, trade, and technical schools.
            </p>
          </div>
    </div>
  </div>
</div>