<div class="container-fluid page-width">
  <div class="row">
      <div class="search_by_state">
        <h1 class="page-header">Search by State</h1>
      </div>
  </div>

  <div class="row">
    <div id="state_container" style="position: relative; width: 80%; height: 800px; margin: 0 auto"></div>
  </div>


  <div class="row">
    <%= render "schools/dropdown_state_types" %>
  </div>

  <div class="container">
      <div class="row">
        <button id="previous" class="btn btn-primary">Previous</button>
        <button id="next" class="btn btn-primary">Next</button>
        <div id="school_table">
        </div>
      </div>
  </div>
</div>


