<div class="container-fluid">
  <div class="row">
      <div class="search_by_state">
        <h1>Search by State</h1>
      </div>
  </div>

  <div class="row">
    <div id="state_container" style="position: relative; width: 80%; height: 800px; margin: 0 auto"></div>
  </div>


  <div class="row">
    <%= render "schools/dropdown_state_types" %>
  </div>

  <div class="container">
      <div class="row">
        <button id="previous" class="btn btn-primary">Previous</button>
        <button id="next" class="btn btn-primary">Next</button>
        <div id="school_table">
        </div>
      </div>
  </div>
</div>

<script>
    $(document).ready(function(){
      $('#previous').hide();
      $('#next').hide();
      $('.state-chart-header').hide();
      console.log("here");
      var map = new Datamap({
        element: $('#state_container')[0],
        scope: 'usa'
      });
      $('.datamaps-subunit').on('click', function(){
        $('#previous').show();
        $('#next').show();
        $('.state-chart-header').show();
          var $state = $(this);
          var classes= $state.attr("class").split(' ');
          var stateName = classes[1];
          getStateSchools(stateName, 1);

          // Scroll down to the Table when state is clicked:
          $('body').animate({
              scrollTop: $("#school_table").offset().top},
              'slow');
      });

      $('#next').click(function(){
          var currentPage = parseInt($('#school_table').data('currentPage'));
          var stateName = $('#school_table').data('stateName');

          getStateSchools(stateName, currentPage + 1);
        });

     $('#previous').click(function(){
         var currentPage = parseInt($('#school_table').data('currentPage'));
         var stateName = $('#school_table').data('stateName');

         getStateSchools(stateName, currentPage - 1);
       });

    });
</script>


