#comparison-charts{
  margin: 100px;
  text-align: left;
}

#compare_btn {
  width: 50%;
}

#compare-btn-wrapper {
  text-align: center;
}

#search-wrapper {
  margin-bottom: 8%;
}

table {
  width: 100%;
  background: #eee;
  padding: 1em;
  margin: 1em auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

th {font-size: 1.2em}

td {
  font-weight: bold;
  border-bottom: 1px solid #fbfbfb;
  width: 20%;
  padding: .5em .25em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .75s ease-out;
  -moz-transition: all .75s ease-out;
  transition: all .75s ease-out;
}

td:nth-child(2) {
  width: 40%;
  color: black;
/*  text-shadow: 1px 1px grey;
*/  text-align: right;
  background-image: -webkit-linear-gradient(to left, #00DDD8, #00DDD8);
  background-image: -moz-linear-gradient(to left, #00DDD8, #00DDD8);
  background-image: linear-gradient(to left, #00DDD8, #00DDD8);
  background-position: right top;
}

td:nth-child(3) {
  width: 40%;
  color: black;
  text-align: left;
  text-shadow: 1px 1px grey;
  background-image: -webkit-linear-gradient(right, #517398, #517398);
  background-image: -moz-linear-gradient(right, #517398, #517398);
  background-image: linear-gradient(right, #517398, #517398);
  background-position: left top;
}
