/* description */
.description {
	font-color: #ccc;
	font-size: 1.5em;
}

/* Ticking Section */

.ticking{
	font-size: 3em;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}