.crime-badges {
  height: 300px;
  text-align: center;
}

.badge-13, .badge-12, .badge-11 {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /*background-size: 70%;*/
  height: 100px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  line-height: 120px;
}


.crime-total-number {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.badge-13 {
  background-image: url("badge2013.png");
}

.badge-11 {
  background-image: url("badge2011.png");
}

.badge-12 {
  background-image: url("badge2012.png");
}