.main-container {
  width: 90%;
  margin: 0 auto;
}


.banner {
  height: 500px;
  text-align: center;
  margin-bottom: 5%;
}

.sub-container {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
}


.about-banner {.sub-container { h1 {
  font-size: 4em;} }
}

.aboutgraph {
  width: 100%;
}


.about-content {
  background-image: url("about_team_2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  padding: 5%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.white-text span, .white-text h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: 1px 1px grey;
}

i.fa-users, i.fa-wrench {
  color: white;
}


.tech-used-image img, .success-img, .hurdles-img {
  height: 500px;
}

.hurdles-img {

}

.tech-used-image {
  padding-top: 2%;
}

.title-header {
  font-size: 4em;
  color: black;
  text-shadow: 1px 1px grey;
}

.fa {
  color: white;
  padding: 15px;
}

.color-block {
  height: 500px;
  background: #262c3a;
  padding: 5%;
}

.color-block p{
  color: white;
}

.success-img {
  margin-bottom: 5%
}

.fa {
  color: black;
}


.tech, .success-section {
  padding: 7%;
}

.hurdles-section {
  background-color: #262c3a;
}

.stretch-img {
  width: 70%;
}

.stretch-section {
  background-image: url("stretchrocket.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  height: 550px;
  padding: 3% 7%;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: left;
}


.team-section {
  height: 500px;
}

.team-photo {
  max-width: 100%;
  height: auto;
}

.large-bullets {
  font-size: 1.5em;
}

.large-header {
  text-align: center;
  margin-bottom: 7%;
}

.large-header h1 {
  font-size: 4em;
}

.end-presentation {
  padding: 7% 0;
  height: 400px;
}
.end-presentation h3{
  color: black;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2%;
}

