
.data-banner {
  background-image: url("databackground.png");
  height: 500px;
  background-size: cover;
  text-align: center;
  margin-bottom: 5%;
}

.data-banner h1{
  font-size: 4em;
  /*text-shadow: 1px 2px black;*/
  color: black;
  line-height: 200px;
}