
.data-banner {
  height: 265px;
  text-align: center;
  margin-bottom: 5%;
}

.data-banner h1{
  font-size: 4em;
  color: #333333;
  line-height: 200px;
}

.data-bkgd {
  width: 100%;
}

.background {
    margin-bottom: 8%;
}

.data-banner .info-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.info-container{
    width: 85%;
    margin: auto;
}

.center-links {
  text-align: center;
  padding-top: 5%;
}

.info-container p
{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  font-size: 22px;
  text-align: left;
  line-height: 1.8;
  font-family: 'Cabin', sans-serif;
  color: #000000;
}

.info-container a {
    color: #517398;
}

.info-container a:hover {
    color: #003058;
    text-decoration: none;
}