.page-width {
  width: 90%;
  text-align: left;
}

.page-header {
  text-align: center;
}

/* description */
.description {
	font-color: #ccc;
	font-size: 1.5em;
}

/* Ticking Section */

.ticking{
	font-size: 3em;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.page-header {
  font-size: 4em;
}

p {
  font-family: 'Roboto', sans-serif;
}


/*  Icon and definition Section*/

.icon-label{
  text-align: center;
}

p.definition-text{
  text-align: justify;
}

.no-border{
  border: none;
  background-color: #F8F8F8;
}

.crime-categories {
  background-color: #F8F8F8;
  height: 50%;
}

#icon-set-wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0 auto;
  width: 55%;
}

h1.icon-header {
  margin-bottom: 7%;
}