@import url(http://weloveiconfonts.com/api/?family=entypo);

div.banner {
  /*border: 1px solid black;*/
}

.index-banner {
  background: #00DDD8;
}

.headline-white {
  color: white;
  font-size: 3.7em;
  margin-bottom: 25px;
}

.left-col-logo {
  text-align: center;
}

.left-col-logo img {
  width: 80%;
  margin-top: 25%;
  margin-left: 70px;
}

.banner-stats {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.banner-stats h1 {
  font-size: 45px;
  color: white;
}

.stats-small-caption {
  font-size: 16px;
}

.banner-right-content {
  padding-right: 10px;
  text-align: left;
}

.banner-small-caption {
  font-size: 1.35em;
  color: #393939;
}

.banner-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%
}

/*search bar*/


.search-bar {
  padding: 5%;
  display: inline-block;
  padding-bottom: 0px;
}

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/** {
  box-sizing: border-box;
}*/

.cont {
  position: relative;
  margin:20px auto;
  width: 60%;
  display: inline;
}

.srchFld {
  border: 0;
  border-radius:7px;
  padding: 0 17px;
  padding-right:55px;
  display:inline-block;
  float: left;
  width: 75%;
  border-bottom:5px solid #bdc3c7;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color: #7f8c8d;
  font-size:19px;
  margin-bottom: 10%;

}

/*.srchFld:focus {
  outline-color: rgba(white,0);
}*/

.srchBtn {
  border: 0;
  border-radius:7px;
  padding: 0 17px;
  background: #003058;
  display:inline-block;
  float: right;
  width: 20%;
  border-bottom:5px solid rgb(37, 96, 145);
  color:white;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size:18px;
  cursor: pointer;
}

/*.srchBtn:active {
  border-bottom:0px solid #c0392b;
}*/

.ico {

  right: 162px;
  top: 0px;
  display: inline;
  font-size:35px;
  color:#7f8c8d;
}


@media screen and (max-width: 1600px) {
  .ico {
    right: 113px;
  }
}

@media screen and (max-width: 990px) {
  .ico {
    right: 186px;
  }
}

@media screen and (max-width: 640px) {
  .ico {
    right: 186px;
  }
}

@media screen and (max-width: 340px) {
  .ico {
    right: 186px;
  }
}


