/* description */
.description {
	font-color: #ccc;
	font-size: 1.5em;
}

/* Ticking Section */

.ticking{
	font-size: 3em;
}


h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}


/*  Icon and definition Section*/

.icon-label{
  text-align: center;
}

p.definition-text{
  text-align: justify;
}

.no-border{
  border: none;
  background-color: #F8F8F8;
}

#icon-set-wrapper {
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

