* {
  margin: 0;
  padding: 0;
}

#custom_nav {
  margin: 20px;
}

#nav_ul {
  overflow: auto;
  list-style-type: none;
}

.nav_li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.nav_li:last-child {
  border-right: none;
}

.nav_li  a {
  text-decoration: none;
  color: #ccc;
  font: 18px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav_li  a:hover {
  color: #666;
}

.nav_li.active a {
  font-weight: bold;
  color: #333;
}
